$font-size-root: 14px;
$sheet-border-radius: 4px;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  small: 20,
);
$btn-font-sizes: (
  default: 1rem,
  large: 1rem,
);
$btn-sizes: (
  default: 41,
  large: 54,
);
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$card-text-font-size: 16px;

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em,
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em,
  ),
  'h3': (
    'size': 1.5625rem,
    'line-height': 1.4em,
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.4em,
  ),
  'h5': (
    'size': 1.0625rem,
  ),
  'h6': (
    'size': 0.75rem,
  ),
  'subtitle-2': (
    'size': 1rem,
  ),
  'overline': (
    'letter-spacing': 0,
  ),
);

// general //

/* card */
$card-border-radius: 3em !default;
$card-box-shadow: 10px 10px 10px -1px rgba(46, 54, 68, 0.2) !default;
$card-backdrop-filter: blur(4.5px) !default;
$card-border: solid 3px transparent !default;

$card-background-light: linear-gradient(
    45deg,
    rgb(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  )
  padding-box !default;
$card-background-dark: linear-gradient(
    45deg,
    rgb(0, 0, 0, 0.4) 0%,
    rgba(128, 128, 128, 0.1) 100%
  )
  padding-box !default;
// $card-lighten-dark: ;
// $card-darken-dark: ;
// $card-lighten-light: ;
// $card-darken-light: ;

/* app-bar */

$app-bar-border-radius: 0em !default;
$app-bar-box-shadow: 0px 10px 10px -1px rgba(46, 54, 68, 0.2) !default;
$app-bar-backdrop-filter: blur(10px) !default;
$app-bar-border: solid 3px rgba(0, 0, 0, 0.4) !default;

$app-bar-border-scrolled: solid 3px transparent !default;

$app-bar-background-dark: linear-gradient(
    45deg,
    rgb(30, 30, 30) 0%,
    rgb(30, 30, 30) 100%
  )
  padding-box !default;
$app-bar-background-light: linear-gradient(
    45deg,
    rgb(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.75) 100%
  )
  padding-box !default;
$app-bar-background-scrolled-dark: linear-gradient(
    90deg,
    rgb(0, 0, 0, 0.8) 0%,
    rgba(30, 30, 30, 0.8) 100%
  )
  padding-box !default;
$app-bar-background-scrolled-light: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.3) 100%
  )
  padding-box !default;

.unblurText {
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translate3d(0%, 0%, 0);
}
